<% if resource.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mb-2 rounded relative" role="alert">
    <span class="block sm:inline">
      <ul>
        <% resource.errors.full_messages.each do |message, key| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </span>
  </div>
<% end %>
