%div.tks-gradient-container.min-h-screen.md:h-screen.flex.flex-col.justify-around.px-8
  %section.container
    %h1.pt-6.text-2xl.text-white.text-shadow-sm.font-bold Truekazo

  %section.md:grid.md:grid-cols-2.md:grid-rows-1.flex-1.flex.flex-col
    %div.container.flex.flex-col.justify-around.px-8.flex-1
      %section.flex-1.flex.justify-center
        %img.self-end.logo-img{ src: 'https://truekaso-stg.sfo3.cdn.digitaloceanspaces.com/landing/truekaso-main.png' }

      %section.flex-1
        %p.bg-white.p-3.rounded-lg.shadow-xl.text-center.text-xl.max-w-xl.mx-auto Somos Truekazo, la nueva comunidad de intercambio de productos. ¡Ven y sorpréndete con lo que encontrarás!
        %p.text-white.text-md.text-center.mt-2.italic Próximamente en Google Play y App Store

    %section.container.flex.items-center.justify-center.flex-1
      %div{class: 'phone w-1/3 max-w-lg transform -rotate-12 z-50 shadow-2xl'}
        %div.notch-container
          %div.notch
        %img.phone-img{ src: 'https://truekaso-stg.sfo3.cdn.digitaloceanspaces.com/landing/iphone-shot-min.png' }
      %div{class: 'phone w-1/3 max-w-lg transform rotate-12 shadow-2xl'}
        %img.phone-img{ src: 'https://truekaso-stg.sfo3.cdn.digitaloceanspaces.com/landing/android-shot.jpg' }

  %section.flex.flex-col.justify-end
    %span.pb-6.text-white.text-underline.text-lg
      %a{ href: 'mailto: hola@truekazo.cl' } Correo: hola@truekazo.cl
      |
      %a{ href: 'https://wa.me/56969010063' } Whatsapp: 9-6901-0063

